@use "variaveis.scss";
@mixin espaco {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
};


@mixin espacamentoLogo ($s) {
    margin-left: $s;
            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 1rem;
                strong{
                    width: 38%;
                    font-size: 0.9rem;  
                    color: variaveis.$color-azul
                }
            }
}