$color-azul: #005BD5;

$color-branco: #FFFFFF;
$color-cinza: #8B8B8B;
$color-cinzaWhite: #EEEEEE;

$font: 'Argentum Sans', sans-serif;
$cidade-rio: url("./../assets/img/rio.png");
$cidade-rioDasOstras: url('./../assets/img/riosdasostras.png');
$cidade-caldaNovas: url("./../assets/img/caldanovas.png");
$cidade-amazonia: url("./../assets/img/amazônia.png");

$espaco-pequeno : 5px;
$espaco-medioPequeno: 10px;
$espaco-medio: 15px;
$espaco-grande:20px;