@use "./../../variaveis.scss";
.containerInput{
    width: 40%;
    padding: 10px 16px;

    input, textarea{
        margin-top: variaveis.$espaco-medioPequeno;
        display: block;
        border:none;    
        width: 70%;
        padding: 16px 16px;
        border-radius: variaveis.$espaco-grande;
        resize:none;
        outline:none;

        &::placeholder{
            font-size: variaveis.$espaco-medio;
            font-weight: 300;
        }
    }

}